USE [master]
GO
/****** Объект:  Database [NeuroNoise]    Дата создания скрипта: 05.06.2026 13:57:24 ******/ 
CREATE DATABASE [NeuroNoise]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NeuroNoise', FILENAME = N'D:\_Шарага\2 курс\Учебная практика ПМ.12\База Данных\NeuroNoise.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NeuroNoise_log', FILENAME = N'D:\_Шарага\2 курс\Учебная практика ПМ.12\База Данных\NeuroNoise_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NeuroNoise].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NeuroNoise]
GO
/****** Объект:  Table [dbo].[Comments]    Дата создания скрипта: 05.06.2026 13:57:24 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[comment_text] [varchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Courses]    Дата создания скрипта: 05.06.2026 13:57:24 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](200) NOT NULL,
	[description] [varchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Users]    Дата создания скрипта: 05.06.2026 13:57:24 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[email] [varchar](150) NULL,
	[registered_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([id], [user_id], [course_id], [comment_text], [created_at]) VALUES (1, 1, 1, N'Отличный курс для начинающих', CAST(N'2024-03-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Comments] ([id], [user_id], [course_id], [comment_text], [created_at]) VALUES (2, 2, 2, N'Материал изложен очень понятно', CAST(N'2024-03-02T00:00:00.000' AS DateTime))
INSERT [dbo].[Comments] ([id], [user_id], [course_id], [comment_text], [created_at]) VALUES (3, 3, 3, N'Много полезных примеров', CAST(N'2024-03-03T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([id], [title], [description], [created_at]) VALUES (1, N'SQL Basics', N'Основы SQL', CAST(N'2024-02-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Courses] ([id], [title], [description], [created_at]) VALUES (2, N'Advanced SQL', N'Продвинутый SQL', CAST(N'2024-02-02T00:00:00.000' AS DateTime))
INSERT [dbo].[Courses] ([id], [title], [description], [created_at]) VALUES (3, N'Database Design', N'Проектирование БД', CAST(N'2024-02-03T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [username], [email], [registered_at]) VALUES (1, N'IvanPetrov', N'ivan@mail.com', CAST(N'2024-01-10T00:00:00.000' AS DateTime))
INSERT [dbo].[Users] ([id], [username], [email], [registered_at]) VALUES (2, N'AnnaSidorova', N'anna@mail.com', CAST(N'2024-01-11T00:00:00.000' AS DateTime))
INSERT [dbo].[Users] ([id], [username], [email], [registered_at]) VALUES (3, N'DmitryK', N'dmitry@mail.com', CAST(N'2024-01-12T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Users__AB6E6164AB887AD5]    Дата создания скрипта: 05.06.2026 13:57:24 ******/ 
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [registered_at]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Courses] FOREIGN KEY([course_id])
REFERENCES [dbo].[Courses] ([id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Courses]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Users]
GO
USE [master]
GO
